<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Cheap Shop Profile for <%= user.userName %></h1>
    <img src="<%= user.profilePicURL%>">
    <p> Welcome <%= user.googlename %>
        with email <%= user.googleemail %>
        You are logged in to Cheap Shop.
    </p>
    <p> last updated on <%= user.lastUpdate %> </p>
<hr>
<form method="post" action="/updateprofile">
Username: <input type="text" name="userName" value="<%= user.userName %>"><br>
Profile Pic URL: <input type= "text" name="profilePicURL"
            value ="<% user.profilePicURL %>"><br>
Zipcode: <input type= "text" name="apizip" value="<%= user.apizip %>"><br>
<input type="submit" class="btn btn-lg btn-primary">
</form>

</div>







<%- include('bootfooter') -%>
