<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop</h1>
        <p>Help shoppers find the best deals</p>
    </div>

    You entered the following ..

    <li>Your name is: <%= name %>
    <li>Your email is: <%= inputEmail4 %>
    <li>Your password is: <br> <%= inputPassword4 %>
    <li>Your address is: <%= inputAddress %>
    <li>Your city is: <%= inputCity %>
    <li>Your state is: <%= inputState %>
    <li>Your zip code is: <%= inputZip %>

<%- include('bootfooter') -%>
