<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop</h1>
        <p>Help shoppers find the best deals</p>
    </div>

    You entered the following ..

    <li>Your name is: <%= Name %>
    <li>Your email is: <%= Email %>
    <li>Your password is: <br> <%= Password %>
    <li>Your address is: <%= Address %>
    <li>Your city is: <%= City %>
    <li>Your state is: <%= State %>
    <li>Your zip code is: <%= Zip %>

<%- include('bootfooter') -%>
