<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop</h1>
        <p>Help shoppers find the best deals</p>
    </div>

    You entered the following ..

    Your email is:<%= inputEmail4 %>
    Your password is: <br> <%= inputPassword4 %>
    Your address is:<%= inputAddress %>
    Your second address is :<%= inputAddress2 %>
    Your city is:<%= inputCity %>
    Your state is:<%= inputState %>
    Your zip code is:<%= inputZip %>

<%- include('bootfooter') -%>
