<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop Profile</h1>
        <p> Welcome <%= Name %>
            with email <%= Email %>
            You are logged in to Cheap Shop.
        </p>

    </div>

<%- include('bootfooter') -%>
