<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class='jumbotron'>
        <h1>Users</h1>
    </div>
    <ol>
      <% for(i=0; i<users.length; i++){ %>
          <li> <%= users[i].Name    %>
              <%= users[i].Email    %>
              <%= users[i].Password    %>
              <%= users[i].Address    %>
              <%= users[i].City    %>
              <%= users[i].State    %>
              <%= users[i].Zip    %></li>
          <% } %>
          </ol>

<%- include('bootfooter') -%>
