<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class='jumbotron'>
        <h1>Users</h1>
    </div>
    <ol>
      <% for(i=0; i<users.length; i++){ %>
          <li> <%= users[i].name    %>
              <%= users[i].inputEmail4    %>
              <%= users[i].inputPassword4    %>
              <%= users[i].inputAddress    %>
              <%= users[i].inputCity    %>
              <%= users[i].inputState    %>
              <%= users[i].inputZip    %></li>
          <% } %>
          </ol>

<%- include('bootfooter') -%>
